<!-- Begin Page Content -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#4e73df" type="line-spin-clockwise-fade"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Students</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">View Student Details</h6>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>Name </td>
                    <td>{{students.name}}</td>
                </tr>
                <tr>
                    <td>Email </td>
                    <td>{{students.email}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<!-- /.container-fluid -->