<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Students</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold d-inline text-primary">View Students</h6>
            <button class="btn btn-primary d-inline float-right" (click)="exportPdf()">PDF </button>
            <button class="btn btn-primary d-inline float-right" (click)="exportExcel()">Excel</button>
        </div>
        
        <div class="card-body">
            <table class="table" id="pdfContent">
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td colspan="3" class="text-center">Actions</td>
                </tr>
                <tr *ngFor="let stu of students">
                    <td>{{stu['name']}}</td>
                    <td>{{stu['email']}}</td>
                    <td><a [routerLink]="['/layout/viewstudent',stu['id']]"><i class="fa fa-eye"></i></a></td>
                    <td><a *ngIf="stu['email'] != 'daman@o7services.coms'"
                            [routerLink]="['/layout/editstudent',stu['id']]"><i class="fa fa-edit"></i></a></td>
                    <td><i *ngIf="stu['email'] != 'daman@o7services.coms'" (click)="delete(stu['id'])" class="fa fa-trash"></i></td>
                </tr>
            </table>
        </div>
    </div>

</div>
<!-- /.container-fluid -->