<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Register</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">New Registration</h6>
        </div>
        <div class="card-body">
            <form action="" (submit)="submitRegister()">
                <div class="form-group">
                    <label for="userName">Name: </label>
                    <input type="text" name="userName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="userEmail">Email: </label>
                    <input type="email" name="userEmail" class="form-control">  
                </div>
                <div class="form-group">
                    <label for="userPassword">Password: </label>
                    <input type="password" name="userPassword" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary d-block mx-auto">
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
